@model IEnumerable<BookManager.Domain.Entities.Book>

@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-6 offset-md-2">
        <h1>My Books</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        <a asp-action="Create" class="btn btn-sm btn-success">
                            <i class="fa-solid fa-plus"></i> New
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            <form asp-action="Delete" asp-route-id="@item.Id">
                                <div class="btn-group btn-group-sm">
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">
                                        <i class="fa-solid fa-pen-to-square">Edit</i>
                                    </a>
                                    <button type="submit" class="btn btn-danger"
                                        onclick="return confirm('Do u relly want to delete this book??')">
                                        <i class="far fa-trash-alt">Delete</i>
                                    </button>
                                </div>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>